/* {border: 1px solid green;} */

#title{
    display: flex;
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

#body {
    background-color: antiquewhite;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    min-width: 600px;
    min-height: 600px;
}

.divrow {
  border: 1x solid grey;
}

.divsquare {
  border: thin solid rgb(175, 175, 175);
  padding: 6px;
  margin: 0px;
  background-color: rgb(255, 255, 255);

}
.divsquare:hover {  
  background-color: rgb(0, 0, 0);

}
#buttondiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#gridbtn {
  background-color: green;
  border: 2px groove darkgreen;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  justify-content: center;
  align-content: center;
}